/*Set mapDiv to occupy the entire screen*/
/* For buttons and a lot of the color, we can change the .css file once the
functionality is there
green color: #008A2E
maroon color: #7a0019
light maroon: #F2E6E8
gold color:  #ffce38
dark gold color: #9d7f0d
dark charcoal: #393939
light gray: #F2F2F2
*/

html, body { 
    height: 100%; width: 100%; margin: 0; padding: 0; 
} 

#mapDiv { 
    height: 96%; 
	width: 100%; 
	margin-top: 20px;
	padding: 0; 
} 
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Main Content
   ========================================================================== */

button {
  font-family: sans-serif;
}

body{
	font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:white; overflow:hidden;
}

header {
  padding: 10px 10px 10px 10px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  border: 1px solid #F2F2F2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #933045), color-stop(100%, #933045));
  background: -webkit-linear-gradient(#933045, #7a0019);
  background: -moz-linear-gradient(#933045, #7a0019);
  background: -o-linear-gradient(#933045, #7a0019);
  background: -ms-linear-gradient(#933045, #7a0019);
  background: linear-gradient(#933045, #7a0019);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #F2E6E8;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  height: 24px;
}
header h1 {
  font: 20px/24px "Copse", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}

/*"webkit-margin is adding space before unordered lists - modify this*/
ul	{
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

/* Resets */
.instructions {
    background: url(../LIDAR_Project/images/information_36px.png);
	display: inline;	
	z-index:100;
	height: 36px;
	width: 36px;
	position: absolute;
	right: 2%;
	top: 10%;
	margin: 0px;
	/*TRANSITION*/
    transition: margin 0.2s ease;
}

span#inst {
	display: none;
	top: 16px;
    color: #444;
    height: auto;
    font-family: arial;
    right: 70%;
    margin: 5px;
    padding: 0px 10px 0px 10px;
    position: absolute;
    text-align: left;
    width: 200px;
    z-index: 40;
}

.instructions:hover #inst.esriSimpleSlider {
	display: block;
	margin: 0 0 0 5px;
	line-height: 35px;
}

.steps {
	position: absolute;
    width: auto; 
	height: auto;
	top: 45px;
	right: 1%;
    display: none;
    text-align: left;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffce38));
	background: -webkit-linear-gradient(#ffe788, #ffce38);
	background: -moz-linear-gradient(#ffe788, #ffce38);
	background: -o-linear-gradient(#ffe788, #ffce38);
	background: -ms-linear-gradient(#ffe788, #ffce38);
	background: linear-gradient(#ffe788, #ffce38); 
	border: 1px solid #dba500;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
	line-height: 20px;
	font-size: 16px;
	color: #333;

	text-align: left;
}

div ul {
	padding: 10px;
}

#banner {
  z-index: 100;
  left: 0%;
  top: 50px;
  height: 0%; 
  width: 10%;
  margin-right: 0px;
  position: absolute;
  bottom: 0px;
  /*background: #ffcc00;*/ /* Take the solid color out to make it look nicer*/
  /*border: 1px solid #f0b500; */
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
  -o-border-radius: 0px 2px 2px 0px;
  -ms-border-radius: 0px 2px 2px 0px;
  -khtml-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}


input, select {
	width: 191px;
	box-sizing: border-box;
	}

#banner .button {
  border: 1px solid #dba500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffce38));
  background: -webkit-linear-gradient(#ffe788, #ffce38);
  background: -moz-linear-gradient(#ffe788, #ffce38);
  background: -o-linear-gradient(#ffe788, #ffce38);
  background: -ms-linear-gradient(#ffe788, #ffce38);
  background: linear-gradient(#ffe788, #ffce38);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  margin-left: 0px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: block;
  text-align: center;
  position: relative;
  top: 61%
  
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  cursor:pointer;
}

/*hide the ugly Choose File button */
.button input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 12px 4px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index:2;
  }

#banner .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe788), color-stop(100%, #ffe788));
  background: -webkit-linear-gradient(#ffe788, #ffe788);
  background: -moz-linear-gradient(#ffe788, #ffe788);
  background: -o-linear-gradient(#ffe788, #ffe788);
  background: -ms-linear-gradient(#ffe788, #ffe788);
  background: linear-gradient(#ffe788, #ffe788);
  background-color: #ffeca0;
}
#banner .link {
  position: fixed;
  left: 50%;
  margin-left: -325px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  background-color: #FFE788;
}

#info {
	bottom: 20px;
	color: #444;
	height: auto;
	font-family: arial;
	left: 20px;
	margin: 5px;
	padding: 10px;
	position: absolute;
	text-align: left;
	width: 200px;
	z-index: 40;
}
.label {
	display: inline-block;
	width: 5em;
}

#optional {
	border:solid 2px;
	border color: #9d7f0d;
	padding:5px;
	border-radius: 10px;
}
#mainheader {
	font-size:24pt;
	font-weight:bold;
}
#subheader {
	font-size:10pt;
	padding-left:20px;
}

/*body, html,*/ 

/* The following code is to optimize for different screen size.*/
@media print, screen and (max-width: 1060px) {
  div.mapDiv {
    width: auto;
    margin: 0;
  }

  nav {
    display: none;
  }

  header, section, footer {
    float: none;
  }
  header h1, section h1, footer h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  #banner {
    width: 28%;
  }
  #banner .downloads {
    margin-right: 60px;
  }
  #banner #logo {
    margin-right: 15px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 190px auto 20px;
    max-width: 600px;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 20px 20px;
    margin: 0;
  }
  header h1 {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  header p {
    display: none;
  }

  #banner {
    top: 40px;
  }
  #banner .link {
    float: left;
    display: inline-block;
    margin-left: 0px;
    position: fixed;
    left: 20px;
  }

  section {
    margin-top: 130px;
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position: static;
  }
}
@media print, screen and (max-width: 480px) {
  header {
    position: relative;
    padding: 5px 0px;
    min-height: 0px;
  }
  header h1 {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  section {
    margin-top: 5px;
  }

  #banner {
    display: none;
  }

  header ul {
    display: none;
  }
}
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
@media print, screen and (max-height: 680px) {
  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
